#homepage
{
    background-color:#ffe4c4;
    height: auto
}

#lottie
{
    height:400px;
    margin-top: 100px;
}

#wer1
{
    font-family: 'Teko', sans-serif;
    margin-top:120px;
    color: blue;
    font-size: 50px;
}
#wer2
{
    font-family: 'Teko', sans-serif;
    margin-top:120px;
    color:green;
}
#wer{
    font-family: 'Teko', sans-serif;
    margin-top:10px;
    font-size:30px;
    text-align: justify;
}
button{
    width: 100px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #homepage
    {
        height: 240vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

#about
{
    background-color: #fcba03;
    height: 100vh;
}
#aboutheading
{
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 80px;
    
}
#contentabout
{
    font-family: 'Teko', sans-serif;
    text-align: justify;
    font-size: 30px;

}